<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152963601389-68b34kgjtgf72sl438pnaoakun8etlv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152963601389-68b34kgjtgf72sl438pnaoakun8etlv4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>152963601389-uu775dn6bj3m3k5his00fadtr8msopsn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD8biPrVoULK_e1tLUC5bgGjafNCEaEhAA</string>
	<key>GCM_SENDER_ID</key>
	<string>152963601389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.almajlis.almajlis</string>
	<key>PROJECT_ID</key>
	<string>almajlisprod</string>
	<key>STORAGE_BUCKET</key>
	<string>almajlisprod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152963601389:ios:ce95bb4335dbc835c4cde4</string>
	<key>DATABASE_URL</key>
	<string>https://almajlisprod.firebaseio.com</string>
</dict>
</plist>